.keypro--quick-address-search__modal-title {
    @extend .modal-title;

    color: #04468c;
    font-weight: bold;
    line-height: 15px;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
    text-transform: none;
}
