.keypro--modal {
    @extend .modal;

    display: block;
    pointer-events: none;
    width: 500px;
    height: auto;
    overflow: unset;
}

.draggable-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    //height: 100%;
    //width: 100%;
}

.keypro--modal__dialog {
    @extend .modal-dialog;

    border-radius: 5px;
    padding: 2px 4px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #a2b1c5;
    margin: 0;

    background-color: #ced9e7;
    box-shadow: #ecf2fb 0 1px 0 0 inset, #ecf2fb 0 -1px 0 0 inset, #ecf2fb -1px 0 0 0 inset,
        #ecf2fb 1px 0 0 0 inset;
}

.keypro--modal__content {
    @extend .modal-content;

    border: none;
}

.keypro--modal__header {
    @extend .modal-header;

    border: unset;
    background-color: #ced9e7;
    padding: 0 0 1px 0;
}

.keypro--modal__header-btn-container {
    display: inline-flex;
}

.keypro--modal__favorite,
.keypro--modal__close,
.keypro--modal__minimize {
    @extend button.close;

    display: inline-block;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    border-radius: 3px;
    border-style: solid;
    background-color: #bccfe5;
    width: 16px;
    height: 16px;
    border-width: 1px;
    font-size: 12px;
    color: #264390;
    border-color: #a2b1c5;
    line-height: 12px;
}

.keypro--modal__favorite,
.keypro--modal__minimize {
    font-size: 8px;
}

.keypro--modal__default {
    background-image: -webkit-radial-gradient(#cfe4fb, #ffffff);
}

.keypro--modal__red {
    background-image: -webkit-radial-gradient(#fbd8de, #ffffff);
}

.keypro--modal__green {
    background-image: -webkit-radial-gradient(#d1fbcd, #ffffff);
}

.keypro--modal__body {
    padding: 3px;
    border-color: #99bbe8;
    border-width: 1px;
    border-style: solid;
}

.keypro--modal-body {
    padding-bottom: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #a2b1c5;
}
