.keypro--top-bar {
    //@extend .navbar;
    //position: relative;
    //padding: 0;
    //
    //.form-inline {
    //    width: 100%;
    //}
}

.keypro--top-bar_theme_default {
    //@extend .gradient-bg
}
